* {
  margin: 0;
  padding: 0;
}

%button__hover {
  background-color: #ffffff;
  color: #1277d3;
  cursor: pointer;
}

.container {
  width: 100%;

  font-family: "Montserrat", "Manrope", font-family;

  .header {
    width: 100%;
    height: 800px;
    position: relative;

    .header__payment {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      gap: 20px;
      width: 50px;
      height: 209px;
      background: #003f84;
      border-radius: 0 6px 6px 0;
      margin-top: 310px;
      color: #ffffff;

      .header__payment__text:first-child {
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        margin-top: 24px;
      }

      .header__payment__text:last-child {
        width: 130px;
        font-weight: 600;
        font-size: 15px;
        line-height: 36px;
        transform: rotate(-90deg);
        margin-top: 25px;
      }
    }

    .header__background {
      width: 100%;
      position: absolute;
      height: inherit;
      z-index: -1;

      .background__top {
        width: 100%;
        height: 50%;
        position: absolute;
        background: linear-gradient(
          180deg,
          #0c67ae 0%,
          rgba(27, 98, 153, 0) 100%
        );
      }

      .image {
        width: 100%;
        height: inherit;
        position: absolute;
        background-image: url("/img/header_bg.png");
        background-color: #1987ec;
        background-blend-mode: luminosity;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 0px;
        z-index: -1;
      }

      .content {
        width: 100%;
        height: 100%;
        display: flex;

        .left {
          width: 100%;
          background-image: url("/img/header_bg_left.png");
          background-repeat: no-repeat;
        }
        .right {
          width: 100%;
          background-image: url("/img/header_bg_right.png");
          background-repeat: no-repeat;
          background-position: right bottom;
        }
      }
    }

    .header__menu__wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      .header__menu {
        width: 1280px;
        min-width: 500px;
        height: 71px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        .header__menu__list {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 36px;
          color: #ffffff;

          .header__menu__wrapper {
            display: flex;
            list-style-type: none;
            gap: 38px;
          }

          .header__menu__wrapper {
            li:hover {
              color: #7bcbff;
              cursor: pointer;
            }
          }
        }

        .header__menu__contacts {
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: 22px;
          color: #ffffff;

          .header__menu__contacts__wrapper {
            display: flex;
            gap: 70px;

            .menu__contacts__phone {
              display: flex;
              align-items: center;
              gap: 11px;

              .contacts__phone__image {
                width: 23px;
                height: 23px;
              }
            }

            .menu__contacts__city {
              display: flex;
              align-items: center;
              gap: 10px;

              .contacts__city__inner {
                display: flex;
                gap: 50px;

                .contacts__city__arrow {
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }

    .header__content__background {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: end;
      position: absolute;
      bottom: 0;
      z-index: -1;

      .header__content__background__image {
        display: flex;
      }

      .header__content__background__image:last-child {
        margin-left: -175px;
      }
    }
    .header__content {
      max-width: 1280px;
      display: flex;
      justify-content: space-between;
      margin: 116px auto 0;

      .header__content__text {
        max-width: 390px;
        font-weight: 600;
        color: #ffffff;

        .content__text__header {
          h1 {
            font-size: 48px;
            line-height: 60px;
          }
        }

        .content__text__list {
          margin-top: 51px;

          .content__text__list__wrapper {
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
      .header__content__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 381px;
        height: 462px;
        background: rgba(0, 94, 163, 0.7);
        border: 3px solid #53b0ff;
        border-radius: 6px;
        box-sizing: border-box;

        .header__content__form__wrapper {
          display: flex;
          width: 278px;
          flex-direction: column;
          text-align: center;
          color: #ffffff;

          .content__form__header {
            margin-top: 30px;

            h2 {
              font-weight: 600;
              font-size: 30px;
              line-height: 36px;
              text-align: center;
              color: #ffffff;
            }
          }

          .content__form__center {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 30px;

            input {
              height: 50px;
              padding-left: 20px;
              background: #18589e;
              border: 1px solid #4a8fce;
              border-radius: 6px;
              box-sizing: border-box;
            }

            textarea {
              padding-left: 20px;
              padding-top: 10px;
              height: 86px;
              resize: none;
              background: #18589e;
              border: 1px solid #4a8fce;
              border-radius: 6px;
            }

            input::placeholder,
            textarea::placeholder {
              font-family: "Montserrat";
              font-weight: 400;
              font-size: 16px;
              line-height: 34px;
              color: #ffffff;
            }
          }

          .content__form__bottom {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;

            .form__bottom__button {
              button {
                width: 278px;
                height: 47px;
                background-color: #53b0ff;
                border-radius: 4px;
                box-sizing: border-box;
                border: none;
                font-weight: 700;
                font-size: 16px;
                line-height: 31px;
                color: #ffffff;
                transition: 0.4s ease;
              }

              button:hover {
                @extend %button__hover;
              }
            }

            .form__bottom__text {
              width: 280px;
              font-weight: 500;
              font-size: 11px;
              line-height: 17px;
            }
          }
        }
      }
    }
  }

  .header-page-2 {
    height: 112px;
    .header__menu__wrapper-page-2 {
      height: inherit;
      background-color: #1269ad;

      .header__menu-page-2 {
        margin-top: 0;
      }
    }
  }

  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
    padding: 0 30px 0;

    .services__header {
      text-align: center;
      h2 {
        font-weight: 500;
        font-size: 46px;
        line-height: 85px;
      }
    }

    .services__wrapper {
      max-width: 1300px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      margin-top: 35px;

      .services__wrapper__block {
        width: 402px;
        height: 220px;
        border-radius: 6px;
        background: #3a87d4;
        background-repeat: no-repeat;

        .wrapper__block__image {
          margin: 30px 0 0 46px;
        }

        .wrapper__block__subhead {
          display: flex;
          justify-content: space-between;
          margin: 16px 0 0 46px;

          .block__subhead__text {
            width: 200px;

            p {
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 26px;
              color: #ffffff;
            }
          }

          .block__subhead__arrow {
            display: flex;
            align-items: end;
            margin-right: 33px;
          }
        }
      }

      .services__wrapper__block:hover {
        cursor: pointer;
        .wrapper__block__subhead {
          .block__subhead__text {
            p {
              text-decoration: underline;
            }
          }
        }
      }

      .services__wrapper__block:nth-child(1) {
        background-image: url("/img/services_bg1.png");
        background-position: right;
      }

      .services__wrapper__block:nth-child(2) {
        background-image: url("/img/services_bg2.png");
      }

      .services__wrapper__block:nth-child(3) {
        background-image: url("/img/services_bg3.png");
      }

      .services__wrapper__block:nth-child(4) {
        background-image: url("/img/services_bg4.png");
        .block__subhead__text {
          width: 150px;
        }
      }

      .services__wrapper__block:nth-child(5) {
        background-image: url("/img/services_bg5.png");
        .block__subhead__text {
          width: 150px;
        }
      }

      .services__wrapper__block:nth-child(6) {
        background-image: url("/img/services_bg6.png");
        .block__subhead__text {
          width: 150px;
        }
      }
    }
  }
  .feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    padding: 0 30px 0;

    .feedback__header {
      h2 {
        font-weight: 500;
        font-size: 46px;
        line-height: 85px;
      }
    }

    .feedback__wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      margin-top: 33px;
      max-width: 1300px;

      .feedback__block {
        width: 400px;
        height: 417px;
        background: #ffffff;
        border: 1px solid #cdd1d8;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 27px 0 0 31px;

        .feedback__block__uphead {
          display: flex;
          gap: 20px;

          .block__uphead__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .uphead__info__date {
              p {
                font-family: "Manrope";
                font-weight: 400;
                font-size: 12px;
                line-height: 26px;
                color: #828282;
              }
            }

            .update__info__name {
              width: 200px;

              p {
                font-weight: 500;
                font-size: 17px;
                line-height: 22px;
                color: #1277d3;
              }
            }

            .update__info__case {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 26px;
            }
          }
        }

        .feedback__block__subhead {
          margin-top: 40px;

          .block__subhead__comment {
            p {
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 22px;
            }

            span {
              color: #1277d3;
            }
          }

          .block__subhead__comment:hover {
            p {
              cursor: pointer;
            }

            span {
              text-decoration: underline;
            }
          }

          .block__subhead__documents {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 22px;

            .subhead__documents__text {
              p {
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 22px;
                text-transform: uppercase;
                color: #1277d3;
              }
            }
          }

          .block__subhead__documents:hover {
            cursor: pointer;

            .subhead__documents__text {
              p {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .feedback__button {
      display: flex;
      align-items: center;
      margin-top: 45px;

      .feedback__button__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 199px;
        height: 47px;
        border: 2px solid #1987ec;
        border-radius: 4px;
        box-sizing: border-box;
        transition: 0.4s ease;

        a {
          font-weight: 700;
          font-size: 14px;
          line-height: 31px;
          color: #424242;
          text-decoration: none;
        }
      }

      .feedback__button__wrapper:hover {
        background-color: #1987ec;
        cursor: pointer;

        a {
          color: #ffffff;
        }
      }
    }

    .feedback__videos {
      display: flex;
      align-items: center;
      margin-top: 70px;
      flex-direction: column;

      .feedback__videos__container {
        display: flex;
        align-items: center;

        .feedback__videos__wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 37px;

          .feedback__videos__block {
            width: 402px;
            height: 219px;
          }

          .feedback__videos__block:nth-child(1) {
            background-image: url("/img/video_image1.jpg");
          }

          .feedback__videos__block:nth-child(2) {
            background-image: url("/img/video_image2.jpg");
          }

          .feedback__videos__block:nth-child(3) {
            background-image: url("/img/video_image3.jpg");
          }

          .feedback__videos__block:nth-child(4) {
            background-image: url("/img/video_image1.jpg");
          }

          .feedback__videos__block:nth-child(5) {
            background-image: url("/img/video_image2.jpg");
          }

          .feedback__videos__block:nth-child(6) {
            background-image: url("/img/video_image3.jpg");
          }
        }

        .feedback__videos__image:first-child {
          margin-right: 64px;
        }

        .feedback__videos__image:last-child {
          margin-left: 64px;
        }
      }

      .feedback__videos__container:last-child {
        margin-top: 45px;
      }
    }

    .feedback__videos__header {
      margin-top: 61px;

      h2 {
        font-style: normal;
        font-weight: 500;
        font-size: 46px;
        line-height: 85px;
      }
    }
  }
  .request {
    display: flex;
    width: 100%;
    height: 484px;
    margin-top: 110px;
    background-color: #1c69b6;

    .request__bg__left {
      position: absolute;
      width: 60%;
      height: inherit;
      background-image: url("/img/request_left.png");
      background-repeat: no-repeat;
    }

    .request__bg__right {
      position: absolute;
      right: 0;
      width: 40%;
      height: inherit;
      background-image: url("/img/request_right.png");
      background-repeat: no-repeat;
      background-position: right;
    }

    .request__info {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 2;

      .request__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1280px;
        min-width: 700px;
        height: 100%;
        padding: 0 30px;
        color: #ffffff;

        .request__info__image {
          display: flex;
          height: 100%;
          align-items: end;

          img {
            width: 325px;
            height: 454px;
          }
        }

        .request__info__content {
          display: flex;
          width: inherit;
          justify-content: space-around;

          .request__content__text {
            max-width: 500px;

            .content__text__header {
              h3 {
                font-weight: 600;
                font-size: 34px;
                line-height: 42px;
              }
            }

            .content__text__text {
              margin-top: 45px;

              p {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #ffffff;
                opacity: 0.5;
              }
            }
          }
          .request__content__form {
            .content__form__input {
              input {
                width: 278px;
                height: 50px;
                padding-left: 20px;
                background: #18589e;
                border: 1px solid #4a8fce;
                border-radius: 6px;
                box-sizing: border-box;
              }

              input::placeholder {
                font-family: "Montserrat";
                font-weight: 400;
                font-size: 16px;
                line-height: 34px;
                color: #ffffff;
              }

              input:last-child {
                margin-top: 10px;
              }
            }

            .content__form__button {
              margin-top: 27px;

              button {
                width: 278px;
                height: 47px;
                background-color: #53b0ff;
                border-radius: 4px;
                box-sizing: border-box;
                border: none;
                font-weight: 700;
                font-size: 16px;
                line-height: 31px;
                color: #ffffff;
                transition: 0.4s ease;
              }

              button:hover {
                @extend %button__hover;
              }
            }
          }
        }
      }
    }
  }
  .сases {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 76px;

    .сases__header {
      text-align: center;

      h2 {
        font-weight: 500;
        font-size: 40px;
        line-height: 85px;
      }
    }

    .сases__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1300px;
      gap: 40px;
      margin-top: 45px;
      padding: 0px 30px;

      .сases__block {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 325px;
        background: #ffffff;
        border: 1px solid #cdd1d8;
        border-radius: 4px;
        box-sizing: border-box;

        .cases__block__inner {
          margin: 44px 0 0 42px;

          .cases__block__uphead {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .block__uphead__inner {
              display: flex;
              align-items: center;
              gap: 17px;

              .block__uphead__text {
                p {
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 36px;
                }
              }
            }

            .block__uphead__price {
              p {
                font-weight: 500;
                font-size: 28px;
                line-height: 36px;
              }
            }
          }
          .cases__block__middle {
            margin-top: 23px;

            .block__middle__client {
              p {
                font-weight: 400;
                font-size: 12px;
                line-height: 26px;
                color: #686868;
              }
            }

            .block__middle__name {
              width: 300px;

              p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #343434;
              }
            }
          }
          .cases__block__subhead {
            display: flex;
            align-items: baseline;
            gap: 10px;
            margin-top: 35px;

            .block__subhead__text {
              p {
                font-weight: 700;
                font-size: 12px;
                line-height: 26px;
                text-transform: uppercase;
                color: #1277d3;
              }
            }
          }

          .cases__block__subhead:hover {
            cursor: pointer;

            .block__subhead__text {
              p {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .mission {
    display: flex;
    justify-content: center;
    margin-top: 89px;

    .mission__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1278px;
      height: 403px;
      position: relative;
      background-color: #1c69b6;
      border-radius: 6px;

      .mission__bg {
        width: 100%;
        height: inherit;
        position: absolute;

        .mission__bg__left {
          width: 70%;
          position: absolute;
          height: inherit;
          background-image: url("/img/mission_left.png");
          background-repeat: no-repeat;
        }

        .mission__bg__right {
          width: 30%;
          position: absolute;
          height: inherit;
          background-image: url("/img/mission_right.png");
          background-position: right;
          background-repeat: no-repeat;
          right: 0;
        }
      }

      .mission__content {
        position: relative;
        color: #ffffff;
        .mission__header {
        }

        .mission__header {
          text-align: center;

          h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 50px;
          }
        }

        .mission__inner {
          display: flex;
          width: 90%;
          margin: 57px auto 0;

          .mission__info {
            display: flex;
            gap: 20px;
            align-items: center;

            .mission__info__digit {
              p {
                font-weight: 700;
                font-size: 64px;
                line-height: 60px;
              }
            }

            .mission__info__text {
              p {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
  .map {
    margin-top: 69px;

    .map__header {
      h2 {
        font-weight: 500;
        font-size: 40px;
        line-height: 85px;
        text-align: center;
      }
    }

    .map__wrapper {
      margin-top: 28px;
      width: 100%;
      height: 632px;

      .map__inner {
        width: 100%;
        height: 100%;
      }
    }
  }
  .call {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 513px;
    background-color: #1c69b6;
    color: #ffffff;

    .call__bg {
      width: 100%;
      height: inherit;
      display: flex;
      position: absolute;

      .call__bg__left {
        width: 50%;
        height: inherit;
        background-image: url("/img/call_left.png");
        background-repeat: no-repeat;
      }

      .call__bg__right {
        width: 50%;
        height: inherit;
        background-image: url("/img/call_right.png");
        background-position: right;
        background-repeat: no-repeat;
      }
    }

    .call__content {
      margin-top: 83px;
      position: relative;

      .call__content__header {
        h2 {
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 85px;
          text-align: center;
        }
      }

      .call__content__form {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        justify-content: center;
        flex-wrap: wrap;

        .content__form__input {
          input {
            width: 245px;
            height: 47px;
            padding-left: 20px;
            background: #18589e;
            border: 1px solid #4a8fce;
            border-radius: 6px;
            box-sizing: border-box;
          }

          input::placeholder {
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #ffffff;
          }
        }

        .content__form__button {
          button {
            width: 246px;
            height: 47px;
            background-color: #53b0ff;
            border-radius: 4px;
            box-sizing: border-box;
            border: none;
            font-weight: 700;
            font-size: 14px;
            line-height: 31px;
            color: #ffffff;
            transition: 0.4s ease;
          }

          button:hover {
            @extend %button__hover;
          }
        }
      }

      .call__content__messenger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 54px;
        gap: 29px;

        .content__messenger__header {
          h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 36px;
            text-align: center;
          }
        }

        .content__messenger__inner {
          display: flex;
          gap: 20px;
          justify-content: center;
          flex-wrap: wrap;

          .content__messenger__button {
            display: flex;
            justify-content: center;
            width: 242px;
            height: 47px;
            border: 2px solid #53b0ff;
            border-radius: 4px;
            box-sizing: border-box;
            transition: 0.4s ease;

            .messenger__button__wrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 9px;

              rect {
                transition: 0.4s ease;
              }

              a {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 36px;
                text-transform: capitalize;
                color: #ffffff;
                text-decoration: none;
              }
            }
          }

          .content__messenger__button:hover {
            cursor: pointer;
            background-color: #53b0ff;

            .messenger__button__wrapper {
              rect {
                fill: #ffffff;
                transition: 0.4s ease;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    // margin-top: 54px;

    .footer__wrapper {
      width: 1280px;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer__uphead__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 44px;

        .footer__uphead__media {
          .uphead__media__social {
            margin-top: 51px;
            display: flex;
            gap: 30px;
            transition: 0.4s ease;

            .media__social {
              path {
                transition: 0.4s ease;
              }
            }
          }

          .uphead__media__social {
            .media__social:hover {
              cursor: pointer;

              path {
                fill: #000000;
                transition: 0.4s ease;
              }
            }
          }
        }

        .footer__uphead__list {
          display: flex;
          gap: 107px;

          .uphead__list__inner {
            ul {
              display: flex;
              flex-direction: column;
              gap: 30px;
              list-style-type: none;
              font-weight: 500;
              font-size: 15px;
              line-height: 20px;

              li {
                color: #424242;
              }
            }
          }
        }

        .footer__uphead__list {
          .uphead__list__inner {
            ul {
              li:hover {
                color: #1987ec;
                cursor: pointer;
              }
            }
          }
        }

        .footer__uphead__call {
          .uphead__call__button {
            width: 199px;
            height: 47px;
            background-color: #1987ec;
            border-radius: 4px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s ease;

            a {
              font-weight: 700;
              font-size: 14px;
              line-height: 31px;
              color: #ffffff;
              text-decoration: none;
            }
          }

          .uphead__call__button:hover {
            background-color: #000000;
            cursor: pointer;
          }

          .uphead__call__text {
            display: flex;
            flex-direction: column;
            margin-top: 33px;
            align-items: end;
            color: #424242;

            .call__text__number {
              p {
                font-weight: 700;
                font-size: 20px;
                line-height: 36px;
                text-transform: uppercase;
              }
            }

            .call__text__subtitle {
              p {
                font-weight: 400;
                font-size: 14px;
                line-height: 36px;
                font-variant: small-caps;
              }
            }
          }
        }
      }
      .footer__subhead__inner {
        width: 100%;
        margin-top: 44px;

        .footer__subhead__list {
          display: flex;
          list-style-type: none;
          justify-content: space-between;

          li {
            font-weight: 400;
            font-size: 12px;
            line-height: 36px;
            color: #6f6f6f;
          }
        }
      }
    }
  }
  .information__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .information {
      width: 1280px;
      display: flex;
      margin-top: 51px;

      .information__blocks {
        p {
          font-weight: 300;
          font-size: 14px;
          line-height: 22px;
        }
        span {
          color: #1277d3;
        }

        .information__block-1 {
          h2 {
            font-weight: 500;
            font-size: 46px;
            line-height: 85px;
            margin-bottom: 29px;
          }

          p {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
          }

          .block-1__scheme {
            margin-top: 30px;

            .block-1__scheme__header {
              h2 {
                font-weight: 500;
                font-size: 34px;
                line-height: 85px;
              }
            }

            .block-1__scheme__wrapper {
              display: flex;
              justify-content: space-between;

              .scheme__wrapper__block {
                display: flex;
                width: 220px;
                flex-direction: column;
                gap: 32px;

                .wrapper__block__text {
                  p {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 26px;
                  }
                }
              }
            }
          }
        }
        .information__block-2 {
          margin-top: 70px;

          .information__block-2__header {
            h2 {
              font-style: normal;
              font-weight: 500;
              font-size: 34px;
              line-height: 85px;
            }
          }

          p {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            list-style-type: none;
          }

          .block2__list {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            list-style-type: none;

            .block2__list__text {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }
        .information__block-3 {
          margin-top: 70px;

          .information__block-3__header {
            h2 {
              font-weight: 500;
              font-size: 34px;
              line-height: 85px;
            }
          }

          .informarion__block-3__steps {
            display: flex;
            flex-direction: column;
            gap: 21px;

            .block-3__step {
              display: flex;
              flex-direction: column;
              gap: 15px;

              .block-3__step__header {
                h3 {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 24px;
                  line-height: 26px;
                }

                span {
                  color: #1277d3;
                  margin-right: 10px;
                }
              }

              .block-3__step__text {
              }
            }
          }
        }
        .information__block-4 {
          margin-top: 40px;

          .block-4__step__header {
            h2 {
              font-style: normal;
              font-weight: 500;
              font-size: 34px;
              line-height: 85px;
            }
          }
        }
      }
    }
  }
  .call__page2 {
    margin-top: 90px;
  }
}
