* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;

  font-family: "Montserrat", font-family;

  .header {
    width: 100%;
    height: 800px;
    position: relative;

    .header__payment {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      gap: 20px;
      width: 50px;
      height: 209px;
      background: #003f84;
      border-radius: 0 6px 6px 0;
      margin-top: 310px;
      color: #ffffff;

      .header__payment__text:first-child {
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        margin-top: 24px;
      }

      .header__payment__text:last-child {
        width: 130px;
        font-weight: 600;
        font-size: 15px;
        line-height: 36px;
        transform: rotate(-90deg);
        margin-top: 25px;
      }
    }

    .header__background {
      width: 100%;
      position: absolute;
      height: inherit;
      z-index: -1;

      .background__top {
        width: 100%;
        height: 50%;
        position: absolute;
        background: linear-gradient(
          180deg,
          #0c67ae 0%,
          rgba(27, 98, 153, 0) 100%
        );
      }

      .image {
        width: 100%;
        height: inherit;
        position: absolute;
        background-image: url("/img/header_bg.png");
        background-color: #1987ec;
        background-blend-mode: luminosity;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 0px;
        z-index: -1;
      }

      .content {
        width: 100%;
        height: 100%;
        display: flex;

        .left {
          width: 100%;
          background-image: url("/img/header_bg_left.png");
          background-repeat: no-repeat;
        }
        .right {
          width: 100%;
          background-image: url("/img/header_bg_right.png");
          background-repeat: no-repeat;
          background-position: right bottom;
        }
      }
    }

    .header__menu {
      max-width: 1280px;
      height: 71px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding-top: 20px;

      .header__menu__list {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 36px;
        color: #ffffff;

        .header__menu__container {
          display: flex;
          list-style-type: none;
          gap: 38px;
        }
      }

      .header__menu__contacts {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 22px;
        color: #ffffff;

        .header__menu__container {
          display: flex;
          gap: 70px;

          .menu__contacts__phone {
            display: flex;
            align-items: center;
            gap: 11px;

            .contacts__phone__image {
              width: 23px;
              height: 23px;
            }
          }

          .menu__contacts__city {
            display: flex;
            align-items: center;
            gap: 10px;

            .contacts__city__image {
            }

            .contacts__city__text {
            }
          }
        }
      }
    }
    .header__content__background {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: end;
      position: absolute;
      bottom: 0;
      z-index: -1;

      .header__content__background__image {
        display: flex;
      }

      .header__content__background__image:last-child {
        margin-left: -175px;
      }
    }
    .header__content {
      max-width: 1280px;
      display: flex;
      justify-content: space-between;
      margin: 116px auto 0;

      .header__content__text {
        max-width: 390px;
        font-weight: 600;
        color: #ffffff;

        .content__text__header {
          h1 {
            font-size: 48px;
            line-height: 60px;
          }
        }

        .content__text__list {
          margin-top: 51px;

          .content__text__list__container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
      .header__content__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 381px;
        height: 462px;
        background: rgba(0, 94, 163, 0.7);
        border: 3px solid #53b0ff;
        border-radius: 6px;
        box-sizing: border-box;

        .header__content__form__container {
          display: flex;
          width: 278px;
          flex-direction: column;
          text-align: center;
          color: #ffffff;

          .content__form__header {
            margin-top: 30px;

            h2 {
              font-weight: 600;
              font-size: 30px;
              line-height: 36px;
              text-align: center;
              color: #ffffff;
            }
          }

          .content__form__center {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 30px;

            input {
              height: 50px;
              padding-left: 20px;
              background: #18589e;
              border: 1px solid #4a8fce;
              border-radius: 6px;
              box-sizing: border-box;
            }

            textarea {
              padding-left: 20px;
              padding-top: 10px;
              height: 86px;
              resize: none;
              background: #18589e;
              border: 1px solid #4a8fce;
              border-radius: 6px;
            }

            input::placeholder,
            textarea::placeholder {
              font-family: "Montserrat";
              font-weight: 400;
              font-size: 16px;
              line-height: 34px;
              color: #ffffff;
            }
          }

          .content__form__bottom {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;

            .form__bottom__button {
              display: flex;
              width: 278px;
              height: 47px;
              left: 1277px;
              background: #53b0ff;
              border-radius: 4px;
              text-align: center;
              align-items: center;
              justify-content: center;

              a {
                font-weight: 700;
                font-size: 16px;
                line-height: 31px;
                text-decoration: none;
                color: #ffffff;
              }
            }

            .form__bottom__text {
              width: 280px;
              font-weight: 500;
              font-size: 11px;
              line-height: 17px;
            }
          }
        }
      }
    }
  }
}
